body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  width: 320px;
  min-height: 500px;
  height: auto;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.0477);
}

img {
  width: 100%;
  height: Auto;
  border-radius: 10px;
  margin-bottom: 8px;
}

h1 {
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: bold;
  text-align: center;
  margin: 16px;
}

p {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  font-weight: regular;
  text-align: center;
  margin: 16px;
}
